parameters:
    tchoulom.viewcounter.statistics.class: Tchoulom\ViewCounterBundle\Statistics\Statistics
    tchoulom.viewcounter.stats_finder.class: Tchoulom\ViewCounterBundle\Finder\StatsFinder
    tchoulom.viewcounter.stats_computer.class: Tchoulom\ViewCounterBundle\Finder\StatsComputer

services:
    # Statistics
    tchoulom.viewcounter.statistics:
        class: '%tchoulom.viewcounter.statistics.class%'
        public: true
        arguments: ['@tchoulom.viewcounter.filesystem']

    # StatsFinder
    tchoulom.viewcounter.stats_finder:
        class: '%tchoulom.viewcounter.stats_finder.class%'
        public: true
        arguments: ['@tchoulom.viewcounter.filesystem']

    # StatsComputer
    tchoulom.viewcounter.stats_computer:
        class: '%tchoulom.viewcounter.stats_computer.class%'
        public: true
